.main2-section1{
    height: 191px;
    width: 100%;
    background-color: #1840A7;
}
.hr{
    width: 2px;
    height: 130px;
    background-color: #1840A7;
    border: none;

}
.Activity-text{
    display: flex;
    justify-content: space-around;
    width: 966px;
    height: 527px;
}
.trainin2{
    width: 1296px;
    display: flex;
    justify-content: space-between;
}
.main2-section3{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 785px;
}
.number-Activity{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-Activity{
    width: 856px;
    height: 512px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}